<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import pandas as pd

<ipython-input-3-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [4]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [5]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [6]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [22]:
df = pd.read_csv("m1_survey_data.csv")

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [23]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [24]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [25]:
# your code goes here
df.duplicated().sum()

154

In [26]:
df['Respondent'].duplicated(keep=False).sum()

247

In [40]:
df['Respondent'].info()

<class 'pandas.core.series.Series'>
Index: 11398 entries, 0 to 11551
Series name: Respondent
Non-Null Count  Dtype
--------------  -----
11398 non-null  int64
dtypes: int64(1)
memory usage: 178.1 KB

In [55]:
df['Respondent'].value_counts()

Respondent
4        1
16696    1
16656    1
16657    1
16658    1
        ..
8376     1
8379     1
8383     1
8386     1
25142    1
Name: count, Length: 11398, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [27]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [28]:
# your code goes here
df.duplicated().sum()

0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11398 entries, 0 to 11551
Data columns (total 86 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    11398 non-null  int64
 1   MainBranch                    11398 non-null  object
 2   Hobbyist                      11398 non-null  object
 3   OpenSourcer                   11398 non-null  object
 4   OpenSource                    11317 non-null  object
 5   Employment                    11398 non-null  object
 6   Country                       11398 non-null  object
 7   Student                       11347 non-null  object
 8   EdLevel                       11286 non-null  object
 9   UndergradMajor                10661 non-null  object
 10  EduOther                      11234 non-null  object
 11  OrgSize                       11302 non-null  object
 12  DevType                       11333 non-null  object
 13  YearsCode                     11389 non-null  object
 14  Age1stCode                    11385 non-null  object
 15  YearsCodePro                  11382 non-null  object
 16  CareerSat                     11398 non-null  object
 17  JobSat                        11397 non-null  object
 18  MgrIdiot                      10905 non-null  object
 19  MgrMoney                      10901 non-null  object
 20  MgrWant                       10905 non-null  object
 21  JobSeek                       11398 non-null  object
 22  LastHireDate                  11398 non-null  object
 23  LastInt                       10985 non-null  object
 24  FizzBuzz                      11361 non-null  object
 25  JobFactors                    11395 non-null  object
 26  ResumeUpdate                  11359 non-null  object
 27  CurrencySymbol                11398 non-null  object
 28  CurrencyDesc                  11398 non-null  object
 29  CompTotal                     10589 non-null  float64
 30  CompFreq                      11192 non-null  object
 31  ConvertedComp                 10582 non-null  float64
 32  WorkWeekHrs                   11276 non-null  float64
 33  WorkPlan                      11277 non-null  object
 34  WorkChallenge                 11234 non-null  object
 35  WorkRemote                    11390 non-null  object
 36  WorkLoc                       11398 non-null  object
 37  ImpSyn                        11393 non-null  object
 38  CodeRev                       11397 non-null  object
 39  CodeRevHrs                    8972 non-null   float64
 40  UnitTests                     11369 non-null  object
 41  PurchaseHow                   11202 non-null  object
 42  PurchaseWhat                  11360 non-null  object
 43  LanguageWorkedWith            11387 non-null  object
 44  LanguageDesireNextYear        11264 non-null  object
 45  DatabaseWorkedWith            10945 non-null  object
 46  DatabaseDesireNextYear        10356 non-null  object
 47  PlatformWorkedWith            10987 non-null  object
 48  PlatformDesireNextYear        10854 non-null  object
 49  WebFrameWorkedWith            10005 non-null  object
 50  WebFrameDesireNextYear        9781 non-null   object
 51  MiscTechWorkedWith            9216 non-null   object
 52  MiscTechDesireNextYear        9943 non-null   object
 53  DevEnviron                    11369 non-null  object
 54  OpSys                         11364 non-null  object
 55  Containers                    11316 non-null  object
 56  BlockchainOrg                 9076 non-null   object
 57  BlockchainIs                  8788 non-null   object
 58  BetterLife                    11300 non-null  object
 59  ITperson                      11363 non-null  object
 60  OffOn                         11360 non-null  object
 61  SocialMedia                   11105 non-null  object
 62  Extraversion                  11378 non-null  object
 63  ScreenName                    10891 non-null  object
 64  SOVisit1st                    11073 non-null  object
 65  SOVisitFreq                   11393 non-null  object
 66  SOVisitTo                     11397 non-null  object
 67  SOFindAnswer                  11395 non-null  object
 68  SOTimeSaved                   11348 non-null  object
 69  SOHowMuchTime                 9481 non-null   object
 70  SOAccount                     11397 non-null  object
 71  SOPartFreq                    10270 non-null  object
 72  SOJobs                        11392 non-null  object
 73  EntTeams                      11393 non-null  object
 74  SOComm                        11398 non-null  object
 75  WelcomeChange                 11313 non-null  object
 76  SONewContent                  9433 non-null   object
 77  Age                           11111 non-null  float64
 78  Gender                        11325 non-null  object
 79  Trans                         11275 non-null  object
 80  Sexuality                     10856 non-null  object
 81  Ethnicity                     10723 non-null  object
 82  Dependents                    11258 non-null  object
 83  SurveyLength                  11379 non-null  object
 84  SurveyEase                    11384 non-null  object
 85  NormalizedAnnualCompensation  10589 non-null  float64
dtypes: float64(6), int64(1), object(79)
memory usage: 4.1+ MB

## Finding Missing values

Find the missing values for all columns.

In [29]:
# your code goes here
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [42]:
# your code goes here
miss_data=df.isnull()
miss_data['WorkLoc'].value_counts()

WorkLoc
False    11398
Name: count, dtype: int64

In [44]:
miss_data['EdLevel'].value_counts()

EdLevel
False    11286
True       112
Name: count, dtype: int64

In [45]:
miss_data['Country'].value_counts()

Country
False    11398
Name: count, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [31]:
# your code goes here
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [32]:
#make a note of the majority value here, for future reference
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [33]:
# your code goes here
df['WorkLoc'].fillna('Office', inplace=True)

<ipython-input-33-768b06206376>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [34]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

WorkLoc
False    11398
Name: count, dtype: int64

In [46]:
df['Employment'].value_counts().idxmax()

'Employed full-time'

In [47]:
df['UndergradMajor'].value_counts().idxmin()

'A health science (ex. nursing, pharmacy, radiology)'

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [35]:
# your code goes here
df['CompFreq'].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [52]:
print(len(df['CompFreq'].unique()))

4

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [36]:
# your code goes here
norm_annual_comp = []

for i in range(len(df)):
    
    if df['CompFreq'].iloc[i] == 'Weekly':
        norm_annual_comp.append(df['CompTotal'].iloc[i]*52)
    elif df['CompFreq'].iloc[i] == 'Monthly':
        norm_annual_comp.append(df['CompTotal'].iloc[i]*12)
    else:
        norm_annual_comp.append(df['CompTotal'].iloc[i]*1)

df['NormalizedAnnualCompensation']= norm_annual_comp
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0

In [56]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>